@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800;900&display=swap');

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Mulish', 'sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-direction: row;

    background-color: #0077B6;

    justify-content: space-around;
    align-items: center;
}

.logo img {
    cursor: pointer;

    width: 120px;
    height: 120px;
}

.procurar-button button {
    background-color: #E4A200;

    font-size: 18px;
    font-weight: 700;
    color: white; 

    border-radius: 4px;
    border: none;

    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;

    cursor: pointer;
}

.procurar-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.publicar-button button {
    background-color: #E4A200;

    font-size: 18px;
    font-weight: 700;
    color: white;

    border-radius: 4px;
    border: none;

    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;

    cursor: pointer;
}

.publicar-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.criar-button button {
    background-color: #E4A200;

    font-size: 18px;
    font-weight: 700;
    color: white;

    border-radius: 4px;
    border: none;

    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;

    cursor: pointer;
}

.criar-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.buttons-line {
    display: flex;
}

.cadastre-button {
    margin-top: 0.7em;
    margin-right: 0.6em;
}

.entrar-button {
    margin-top: 0.7em;
    margin-left: 0.6em;
}

.cadastre-button button {
    border-radius: 50px 50px 50px 50px;
    border: 2px solid #E4A200;

    cursor: pointer;

    font-size: 18px;
    font-weight: 700;
    color: #E4A200;
    background-color: white;

    padding: 0.5em 1em 0.5em 1em;
}

.cadastre-button button:hover {
    background-color: #e3e2e1;
    transition: 1s;
}

.entrar-button button {
    border-radius: 50px 50px 50px 50px;
    border: 2px solid #E4A200;

    cursor: pointer;

    font-size: 18px;
    font-weight: 700;
    color: #E4A200;
    background-color: white;

    padding: 0.5em 1em 0.5em 1em;
}

.entrar-button button:hover {
    background-color: #e3e2e1;
    transition: 1s;
}

.faixa1-inicio {
    background-image: url(../assets/images/imagem-fundo-incio.png);
    background-position: 20% 20%;
    
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-bottom: 18em;
}

.frase-principal1-inicio {
    margin-top: 5em;
    
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.frase-principal2-inicio {
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.qualVaga-inicio {
    margin-top: 1em;
    
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.input-button-box {
    display: flex;
    flex-direction: row;

    margin-top: 1.5em;
}

.cargo-input {
    margin-right: 8em;
}

.cargo-input input {
    font-size: 18px;
    font-weight: 600;
    color: #A39C9C;
    border: none;

    padding-top: 0.5em;
    padding-left: 0.7em;
    padding-bottom: 0.5em;

    cursor: text;
}

::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: #A39C9C;
}

.buscar-button {
    margin-top: -0.2em;
}

.buscar-button button {
    display: flex;
    flex-direction: row;

    cursor: pointer;
    
    border-radius: 50px 50px 50px 50px;
    border: none;

    padding: 0.3em 3em 0.3em 3em;
    
    background-color: #E4A200;
}

.buscar-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.buscar-button img {
    cursor: pointer;
}

.buscar-text {
    font-size: 18px;
    font-weight: 700;
    color: white;

    margin-top: 0.3em;
    margin-left: 0.5em;

    cursor: pointer;
}

.faixa2-inicio {
    display: flex;
    flex-direction: column;
    
    background-color: #0096C7;
}

.selecione {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20em;

    font-size: 22px;
    font-weight: 900;
    color: white;
}

.box-areas {
    display: flex;
    justify-content: space-evenly;

    margin-bottom: 1em;
}

.area img {
    cursor: pointer;
}

.area-aaa {
    margin-top: -1.2em;

    cursor: pointer;
}

.area-aaa img {
    cursor: pointer;
}

.ver-vagas-button {
    margin-left: 32.5em;
    margin-bottom: 2em;
}

.ver-vagas-button button {
    border-radius: 50px 50px 50px 50px;
    border: none;

    cursor: pointer;

    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #E4A200;

    padding: 0.5em 1em 0.5em 1em;
}

.ver-vagas-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.rodape-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #023E8A;
}

.siga {
    font-size: 25px;
    font-weight: 700;
    color: white;

    margin-top: 1em;
    margin-bottom: 1em;
}

.redes-sociais-box {
    display: flex;
    margin-bottom: 2em;
}

.instagram {
    margin-right: 5em;
    margin-left: 5em;
}

.facebook img {
    cursor: pointer;
}

.instagram img {
    cursor: pointer;
}

.youtube img {
    cursor: pointer;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

@media (min-width: 1300px) {
    .ver-vagas-button { margin-left: 35.5em; }
}