@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

body {
    margin: 0px;
    display: flex;
    background-color: #0077B6;
    
    
   
}

.cabecalho{
    position: relative;
    height: 30px;
}

.logo {
    position: relative;
    left: 1px;
    padding: 0px;
    margin: 0px;
}


.logo img {
    position: relative;
    height: 120px;
    padding: 1px;

    right: -20px;
    
}


.Procurar-Vagas button {
    position: relative;
    left: 240px;
    top: -80px;

    padding: 0px;

    background: transparent;
    border: transparent;

    cursor: pointer;
}
.Procurar-Vagas img {
    position: relative;
    height: 40px;
    left: -1px;
}

.Publicar-Vagas button {
    position: relative;
    left: 510px;
    top: -125px;

    padding: 0px;

    background: transparent ;
    border: transparent;

    cursor: pointer;
}

.Publicar-Vagas img {
    position: relative;
    height: 40px;
    left: -1px;
}

.Criar-Curriculo button {
    position: relative;
    left: 770px;
    top: -170px;

    padding: 0px;

    background: transparent ;
    border: transparent;

    cursor: pointer;
}

.Criar-Curriculo img {
    position: relative;
    height: 40px;
    left: -1px;
}

.Cadastrar button {
    position: relative;
    left: 1030px;
    top: -215px;

    padding: 0px;

    background: transparent;
    border: transparent;

    cursor: pointer;
}

.Cadastrar img {
    position: relative;
    height: 40px;
    left: -1px;
}


.Entrar button {
    position: relative;
    left: 1200px;
    top: -260px; 

    padding: 0px;

    background: transparent ;
    border: transparent;

    cursor: pointer;
}

.Entrar img {
    position: relative;
    height: 40px;
    left: -1px;
}



.container-vagas  {
    position: relative;
    height: 995px;

    top: 1450px;
}

.container-vagas img {
    position: relative;
    height: 1050px;

    top: -1350px;
}


.Frase1 {
    position: relative;
    top: -2150px;
    font-family: Mulish;
    height: 16px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.Frase2 {
    position: relative;
    top: -2130px;
    font-family: Mulish;
    height: 16px;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.Frase3 {
    position: relative;
    top: -2090px;
    font-family: Mulish;
    height: 16px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.busca textarea {
    position: relative;
    left: 320px;
    top: -2030px;
    height: 30px;

   

    font-family: Mulish;
    font-weight: 500;
    color:lightslategray;

    resize: none;
    border-radius: 0px 0px;
    padding: 5px 5px;
    
}

.botton-buscar button {
    position: relative;
    left: 500px;
    top: -2100px; 

    padding: 30px 145px;

    background: transparent;
    resize: none;
    border: transparent;

    cursor: pointer;
    
}

.botton-buscar img {
    position: relative;
    left: 800px;
    height: 50px;
    top: -2080px;
}


.container-profissao {
    background-color: rgb(60, 134, 218);
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    color: white;

    position: relative;
    text-align: center;
    padding: 100px;
    bottom: -100px;

    height: 1500px;
    
    
    

}

.Frase4 {
    position: relative;
    
}

.box-profissao {
     padding: 60px;
     position: relative;

     
     
 
     
}

.button-Administracao button {
    position: relative;
    padding: 5px 5px;
    right: 300px;
    bottom: -65px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Administracao img{
    position: relative;
    height: 180px;
}

.button-Agro button {
    position: relative;
    padding: 5px 5px;
    top: -127px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Agro img{
    position: relative;
    height: 180px;
}

.button-Coz button {
    position: relative;
    padding: 5px 5px;
    top: -320px;
    left: 300px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Coz img {
    position: relative;
    height: 180px;
}

.button-Edu button {
    position: relative;
    padding: 5px 5px;
    right: 300px;
    top: -195px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;

}

.button-Edu img {
    position: relative;
    height: 180px;
}

.button-Fina button {
    position: relative;
    padding: 5px 5px;
    top: -375px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Fina img {
    position: relative;
    height: 175px;
}

.button-Jurico button {
    position: relative;
    padding: 5px 5px;
    left: 300px;
    top: -560px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Jurico img {
    position: relative;
    height: 175px;
}

.button-Engenha button {
    position: relative;
    padding: 5px 5px;
    right: 300px;
    top: -412px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Engenha img {
    position: relative;
    height: 180px;
}

.button-Saude button {
    position: relative;
    padding: 5px 5px;
    top: -605px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Saude img {
    position: relative;
    height: 180px;
}


.button-Tec button {
    position: relative;
    padding: 5px 5px;
    left: 300px;
    top: -800px;

    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.button-Tec img {
    position: relative;
    height: 180px;
}

.rodape {
    background-color: #023E8A;
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    color: white;

    position: relative;
    text-align: center;
}

.ver-tudo button {
    position: relative;
    left: 240px;
    top: 50px;

    padding: 15px 15px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;

}

.ver-tudo img {
    position: relative;
    height: 60px;
    top: -750px;
    right: 240px;
}



.rodape {
    text-align: center;
    color: white;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;

    position: relative;
    
    padding: 90px;
    bottom: -100px;
    height: 200px;
    
}

.Frase5 {
    position: relative;
    top: -60px;
}

.facebook button {
    position: relative;
    right: 200px;
    
    padding: 1px 1px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.instagram button {
    position: relative;
    left: 1px;
    top: -56px;
    
    padding: 1px 1px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.Youtube button {
    position: relative;
    left: 200px;
    top: -110px;
    
    padding: 1px 1px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

