@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800;900&display=swap');

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Mulish', 'sans-serif';
}