@font-face {
    font-family: Mulish-Black;
    src: url('../assets/fonts/Mulish-Black.woff2');
}

@font-face {
    font-family: Mulish-Bold;
    src: url('../assets/fonts/Mulish-Bold.woff2');
}

@font-face {
    font-family: Mulish-Extra-Bold;
    src: url('../assets/fonts/Mulish-ExtraBold.woff2');
}

@font-face {
    font-family: Mulish-Semi-Bold;
    src: url('../assets/fonts/Mulish-SemiBold.woff2');
}

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Mulish', 'sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
    
    background-color: #0096C7;

    padding-bottom: 1.2em;
}

.voltar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0.5em;
    margin-left: 1em;
}

.voltar img {
    cursor: pointer;
}

.voltar-texto {
    font: 20px Mulish-Extra-Bold;
    color: white;

    margin-left: 0.5em;
}

.informacoes-candidato {
    display: flex;
    justify-content: center;
}

.left-box-candidato {
    display: flex;
    flex-direction: column;
}

.imagemPerfil img {
    width: 120px;
    height: 160px;
}

.alterarImagem u {
    margin-left: 1.8em;
    
    font: 15px Mulish-Bold;
    color: white;

    cursor: pointer;
}

.right-box-candidato {
    display: flex;
    flex-direction: column;

    margin-left: 0.6em;
}

.nome-candidato {
    font: 15px Mulish-Bold;
    color: white;
}

.dataNascimento-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.civil-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.localidade-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.nacionalidade-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.email-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.telefone-candidato {
    font: 15px Mulish-Bold;
    color: white;

    margin-top: 0.5em;
}

.informacoes-curriculo {
    display: flex;
    flex-direction: column;
    
    background-color: #00B4D8;

    margin-top: 1em;
    margin-left: 15em;
    margin-right: 15em;

    padding-bottom: 1em;
}

.box-line {
    display: flex;
    justify-content: space-between;
}

.line-left {
    margin-top: 0.5em;
    margin-left: 3em;
}

.line-right {
    margin-top: 0.5em;
    margin-right: 2em;
}

.line-left1 {
    margin-top: 1em;
    margin-left: 3em;
}

.line-right1 {
    margin-top: 1em;
    margin-right: 2em;
}

.line-left2 {
    margin-top: 1em;
    margin-left: 3em;
}

.line-right2 {
    margin-top: 1em;
    margin-right: 2em;
}

.objetivo-curriculo {
    font: 22px Mulish-Bold;
    color: white;
    
    text-align: center;

    margin-top: 0.5em;
}

.objetivo-textarea {
    margin-top: 0.6em;
    margin-left: 5em;
}

.objetivo-textarea textarea {
    padding: 2em 20.2em;

    border: 1px solid black;

    cursor: text;

    resize: none;
}

.formacao-academica-curriculo {
    font: 22px Mulish-Bold;
    color: white;
    
    text-align: center;
}

.formacao-academica-textarea {
    margin-top: 0.6em;
    margin-left: 5em;
}

.formacao-academica-textarea textarea {
    padding: 1.5em 20.2em;

    border: 1px solid black;

    cursor: text;

    resize: none;
}

.experiencia-profissional-curriculo {
    font: 22px Mulish-Bold;
    color: white;
    
    text-align: center;
}

.experiencia-profissional-textarea {
    margin-top: 0.6em;
    margin-left: 5em;
}

.experiencia-profissional-textarea textarea {
    padding: 1.5em 20.2em;

    border: 1px solid black;

    cursor: text;

    resize: none;
}

.idiomas-curriculo {
    font: 22px Mulish-Bold;
    color: white;
    
    text-align: center;
}

.idiomas-textarea {
    margin-top: 0.6em;
    margin-left: 5em;
}

.idiomas-textarea textarea {
    padding: 1em 20.2em;

    border: 1px solid black;

    cursor: text;

    resize: none;
}

.atividades-complementares-curriculo {
    font: 22px Mulish-Bold;
    color: white;
    
    text-align: center;
}

.atividades-complementares-textarea {
    margin-top: 0.6em;
    margin-left: 5em;
}

.atividades-complementares-textarea textarea {
    padding: 1.5em 20.2em;

    border: 1px solid black;

    cursor: text;

    resize: none;
}

.salvar-button {
    align-self: flex-end;

    margin-top: 1em;
    margin-right: 2em;
}

.salvar-button button {
    cursor: pointer;
    
    border-radius: 50px 50px 50px 50px;
    border: none;

    padding-top: 0.3em;
    padding-right: 3em;
    padding-bottom: 0.3em;
    padding-left: 3em;

    background-color: #E4A200;

    font: 15px Mulish-Bold;
    color: white;
}

.salvar-button button:hover {
    background-color: #c98f00;
    transition: 1s;
}
@media (max-width: 1280px) {
    .objetivo-textarea { margin-left: 3em; }
    .formacao-academica-textarea { margin-left: 3em; }
    .experiencia-profissional-textarea { margin-left: 3em; }
    .idiomas-textarea { margin-left: 3em; }
    .atividades-complementares-textarea { margin-left: 3em; }
}