@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800;900&display=swap');

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Mulish', 'sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
    
    background-color: #00B4D8;

    min-height: 100vh;
}

.cabecalho {
    background-image: url(../assets/images/imagem-login.png);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
}

.logo {
    text-align: center;
    margin-left: 1.5em;
}

.logo img {
    cursor: pointer;
}

.texto-login {
    color: white;
    text-align: center;

    font-size: 25px;
    font-weight: 900;

    margin-top: -0.2em;
    margin-left: .3em;
    margin-bottom: 1em;
}

.corpo-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding-left: 0.7em;
    padding-right: 25em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.email-input {
    margin-top: 2em;
}

.email-input input {
    font-size: 15px;
    font-weight: 600;
    color: #A39C9C;
    border: 1px solid black;

    cursor: text;
}

.senha-input {
    margin-top: 1.5em;
}

.senha-input input {
    font-size: 15px;
    font-weight: 600;
    color: #A39C9C;
    border: 1px solid black;

    cursor: text;
}

.button-entrar {
    margin-top: 1.5em;
}

.button-entrar button {
    border-radius: 50px 50px 50px 50px;
    border: none;

    cursor: pointer;

    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #E4A200;

    padding: 0.5em 6.5em 0.5em 6.5em; 
}

.button-entrar button:hover {
    background-color: #c98f00;
    transition: 1s;
}

.nao-tem-conta {
    font-size: 16px;
    font-weight: 700;
    color: white;
    
    margin-top: 0.5em;
}

.cadastre-se {
    font-size: 16px;
    font-weight: 700;
    color: white;

    margin-bottom: 1em;
}

u {
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}